.login{
    display: grid;
    place-items: center;
    background-color: black;
    width:100vw;
    height:100vh;
}
.login>a{
    text-decoration: none;
    background-color:#1db954;
    height:50px;
    width:200px;
    text-align:center;
    padding-top:15px;
    border-radius: 99px;
    font-weight:1000px;
    font-weight: bolder;
    font-size: larger;
    color: white;
}
.login >img{
    width:500px;
    height:400px;
}